.cards {
  margin-top: 70px;
  display: flex;
  gap: 20px;
}

.graphs, .cards1 {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card, .graph, .second-cards {
  background: #fff;
  flex: 1;
  min-width: 180px;
  max-width: 600px;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.cards1 {
  margin-left: 145px;
  margin-right: 145px;
}

.graph {
  height: 300px;
}