body {
  margin: 0;
}

.login-container {
  background: url(cabbage-5337431_1280.jpg);
  /* background: url(../Logo_Pic/Beans_2.jpg); */
  /* background: url(Maize_1.jpg); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 400px;
  text-align: center;
}

.login-card h2 {
  font-weight: bold;
  color: rgb(33, 183, 33);
  margin-bottom: 30px;
}

.login-card h4 {
  color: #fff;
}

.login-card label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
  color: rgba(32, 31, 31, 0.945);
}

.login-card input {
  /* width: 94%; */
  /* padding: 10px 12px; */
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.login-card button, .login-card button a {
  background: rgb(33, 183, 33);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

.login-card button a{
  background: none;
  padding: 0;
  text-decoration: none;
}

.login-card button:hover {
  background: rgb(38, 211, 38);
}

.login-card button:active, .login-card button a:active {
  background: rgb(33, 183, 33);
}

.login-card img{
  height: 90px;
  border-radius: 50px;
}

/* #checkbox {
  background-color: rgb(151, 149, 149);
} */

/* creating the toast */
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  min-width: 250px;
  padding: 15px 20px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  opacity: 0;
  transform: translateX(50px);
  transition: all 0.3s ease;
  z-index: 1000;
}

/* Show toast */
.toast.show {
  opacity: 1;
  transform: translateX(0);
}

/* Success */
.toast.success {
  background-color: #28a745;
}

/* Error */
.toast.error {
  background-color: #dc3545;
}
